# Manejo de valores nulos
Para el manejo de valores nulos crearemos un dataset con diferentes valores en donde incluiremos algunos valores nulos.

In [2]:
import pandas as pd
import numpy as np

my_dict = {"col1": [1,2,3,np.nan],
 "col2": [3, np.nan, 6,7],
 "col3": [8, None, 'a','b'],
 }

df = pd.DataFrame(my_dict)
df

   col1  col2  col3
0   1.0   3.0     8
1   2.0   NaN  None
2   3.0   6.0     a
3   NaN   7.0     b

- **isnull**

La función isnull() de Pandas se utiliza para identificar y verificar la presencia de valores ausentes (NaN, None) en un DataFrame o Series de Pandas. Devuelve un objeto booleano del mismo tamaño que el DataFrame o Series original, donde True indica la presencia de un valor ausente y False indica un valor válido.

```
df = pd.DataFrame(...)  # Ejemplo de DataFrame

# Comprobar si hay valores ausentes en todo el DataFrame
df.isnull().any()

# Comprobar si hay valores ausentes en una columna específica
df['Columna'].isnull()
```

In [3]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False   True   True
2  False  False  False
3   True  False  False

In [5]:
df.isnull().any()

col1    True
col2    True
col3    True
dtype: bool

In [4]:
df.isnull()*1

   col1  col2  col3
0     0     0     0
1     0     1     1
2     0     0     0
3     1     0     0

La expresión `df.isnull()*1` es una forma de convertir un DataFrame booleano que indica la presencia de valores ausentes (generado por la función `isnull()`) en un DataFrame que contiene valores numéricos. En este caso, todos los valores ausentes se codifican como 1, mientras que los valores válidos se codifican como 0.

- **`fillna()`**

La función `fillna()` de Pandas se utiliza para reemplazar valores ausentes (NaN, None) en un DataFrame o Series con valores específicos o según una estrategia definida. Permite imputar valores faltantes para mejorar la integridad de los datos.

In [6]:
df.fillna("faltantes")

        col1       col2       col3
0        1.0        3.0          8
1        2.0  faltantes  faltantes
2        3.0        6.0          a
3  faltantes        7.0          b

Des esta forma podemos agregar filtros para manipular los datos faltantes.